# קבצי הרצה
*.exe
chess.exe

# תיקיות בנייה (Build) וקבצים מקומפלים של CMake
UI/build/
build/
*.o
*.out

# דוחות כיסוי קוד שנוצרים אוטומטית
LOGIC/coverage_report/

# בינאריים של ספריות (אם הם מקומפלים מקומית)
lib/bin/

# הגדרות מקומיות של עורך הקוד (VS Code)
.vscode/


lib/include/